body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(rgba(207, 198, 198, 0.8), rgba(220, 212, 212, 0.8)), url('../AI&IOTimages/Ai-iot.jpeg') center/cover fixed;
  
}

header {
    background-color: #333; /* Adjust the path to your background image */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #ffffff;

    
}

.logo-container {
    margin-left: 50px;
}

.logo {
    width: 100px; /* Adjust the size of the logo */
    border-radius: 50%;
}

.heading-container h1 {
    font-size: 4.2em;
    margin-right: 360px;
}

nav ul {
    list-style: none;
   margin-top: 100px;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.4em;
}

p {
    font-size: 18px;
    line-height: 1.8;
}

h1 {
    font-size: 50px;
    margin-right: 100px;
}



h3 {
    font-size: 26px;
}

h2 {
    font-size: 30px;
}

#main-content,
#features {
    padding: 50px;
    text-align: center;
    color: #333;
}

.join {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

.join h2 {
    color: #333;
}

.join p {
    font-size: 1.2em;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e5a83;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
}

.button:hover {
    background-color: #2c3e50;
    transition: background-color 0.3s ease-in-out;
}

footer {
    background-color: #2c3e50;
    color: #cdbaba;
    text-align: center;
    padding: 20px;
}