body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #383737;
    color: #fff;
    width: 250px;
    height: 100vh;
    position: fixed;
    overflow-x: hidden;
    transition: 0.5s;
}
.sidebar:hover {
    width: 250px;
}


nav ul {
    list-style: none;
    padding: 0;
}
nav a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    display: block;
    transition: 0.3s;
}
nav a:hover {
    background-color: #555;
}

.content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s;
}

.event-header {
    background-image: url('../../../../Clubs/GateClub/images/Gate-1.jpeg'); /* Replace with your background image path */
    background-size: cover;
    color: black;
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

.data-entry {
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}